- if current_user.needs_help
  %p You've got your 'Inline Help' preference turned on. This means that as you edit pages, you'll be provided with some helpful information about the various features of the interface.
  %p 
    You may, at any time
    = link_to('turn off this help', admin_user_toggle_inline_help_path(current_user), :method => :put)